<ul class="navbar-nav cbg sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
           <img src="/images/assets/logo.png" width="50vh" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Onawan <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= onPage === 'dashboard' ? 'active' : '' %>">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Master Data</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item rounded-0 <%= onPage === 'about' ? 'active' : '' %>" href="/admin/about">
                    <i class="fas fa-building mr-1"></i>
                    About
                </a>
                <a class="collapse-item collapsed" data-toggle="collapse" data-target="#bannerSection" aria-expanded="true" aria-controls="bannerSection">
                    <i class="fas fa-image mr-1"></i>
                    <span>List Banner</span>
                </a>
                <div id="bannerSection" class="collapse">
                    <div class="collapse-inner rounded py-2">
                        <a class="collapse-item <%= onPage === 'homeBanner' ? 'active' : '' %>" href="/admin/home-banner">
                            Banner Home
                        </a>
                        <a class="collapse-item <%= onPage === 'destinationBanner' ? 'active' : '' %>" href="/admin/destination-banner">
                            Banner Destination
                        </a>
                        <a class="collapse-item <%= onPage === 'aboutBanner' ? 'active' : '' %>" href="/admin/about-banner">
                            Banner About
                        </a>
                        <a class="collapse-item <%= onPage === 'orderBanner' ? 'active' : '' %>" href="/admin/order-banner">
                            Banner Order
                        </a>
                        <a class="collapse-item <%= onPage === 'airlineBanner' ? 'active' : '' %>" href="/admin/airline-banner">
                            Banner Airline
                        </a>
                        <a class="collapse-item <%= onPage === 'supportBanner' ? 'active' : '' %>" href="/admin/support-banner">
                            Banner Support
                        </a>
                    </div>
                </div>
                <a class="collapse-item <%= onPage === 'destination' ? 'active' : '' %>" href="/admin/destination">
                    <i class="fas fa-plane-departure mr-1"></i>
                    Destination
                </a>
                <!-- <a class="collapse-item <%= onPage === 'promo' ? 'active' : '' %>" href="/admin/promo">
                    <i class="fas fa-percent mr-1"></i>
                    Promo
                </a> -->
                <a class="collapse-item <%= onPage === 'promotion' ? 'active' : '' %>" href="/admin/promotion">
                    <i class="fas fa-dollar-sign mr-1"></i>
                    Promotion
                </a>
                <a class="collapse-item <%= onPage === 'testimonial' ? 'active' : '' %>" href="/admin/testimonial">
                    <i class="fas fa-comment mr-1"></i>
                    Testimonial
                </a>
                <a class="collapse-item <%= onPage === 'paymentMethod' ? 'active' : '' %>" href="/admin/payment-method">
                    <i class="fas fa-wallet mr-1"></i>
                    Payment Method
                </a>
            </div>
        </div>
        <hr class="sidebar-divider">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accountData"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-circle"></i>
            <span>Account</span>
        </a>
        <div id="accountData" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item <%= onPage === 'user' ? 'active' : '' %>" href="/admin/user">
                    <i class="fas fa-user-lock mr-1"></i>
                    User
                </a>
            </div>
        </div>
        <hr class="sidebar-divider">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#aviationData"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-map"></i>
            <span>Aviation</span>
        </a>
        <div id="aviationData" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item <%= onPage === 'airline' ? 'active' : '' %>" href="/admin/airline">
                    <i class="fas fa-plane mr-1"></i>
                    Airline
                </a>
                <!-- <a class="collapse-item <%= onPage === 'flight' ? 'active' : '' %>" href="/admin/flight">
                    <i class="fas fa-globe-asia mr-1"></i>
                    Flight
                </a> -->
                <a class="collapse-item <%= onPage === 'airportlist' ? 'active' : '' %>" href="/admin/airport">
                    <i class="fas fa-building mr-1"></i>
                    Airport
                </a>
                <a class="collapse-item <%= onPage === 'flightschedule' ? 'active' : '' %>" href="/admin/flight-schedule">
                    <i class="fas fa-list-ol mr-1"></i>
                    Flight Schedule
                </a>
            </div>
        </div>
        <hr class="sidebar-divider">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerService"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-handshake"></i>
            <span>Service</span>
        </a>
        <div id="customerService" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item <%= onPage === 'reservation' ? 'active' : '' %>" href="/admin/reservation">
                    <i class="fas fa-passport mr-1"></i>
                    Reservation
                </a>
                <a class="collapse-item <%= onPage === 'payment' ? 'active' : '' %>" href="/admin/payment">
                    <i class="fas fa-list-alt mr-1"></i>
                    Payment
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>