<%- include('../components/head.ejs') %>
    <div class="container-fluid">
        <div class="row-cols-1 mb-4">
            <h1 class="h3 mb-0 text-gray-800">Aviation</h1>
        </div>
        <div class="row-cols-1">
            <% if (alert.message != '') { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%- alert.status == 'success' ? `<i class="fas fa-check-square mr-2"></i>`: `<i class="fas fa-exclamation-triangle"></i>` %> 
                    <%= alert.message %>
                </div>
            <% } %>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3 ch">
                <div class="row d-flex">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-normal text-white">List Flight</h6>
                    </div>
                    <div class="col-3 text-right">
                        <form action="/admin/search-flight" method="get">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control bg-light" name="document" placeholder="search document" autocomplete="off" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-sm btn-info" id="searchFlight"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-1 text-right">
                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#createFlight">
                        <i class="fas fa-plus-circle fa-sm text-white"></i> Create Data
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Airline</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < flight.length; i++ ) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= flight[i].airlineName %></td>
                                    <td><%= flight[i].departureTime %></td>
                                    <td><%= flight[i].arrivalTime %></td>
                                    <td><span class="text-danger">IDR </span><%= flight[i].price %></td>
                                    <td>
                                        <button type="button" class="btn btn-sm cbg text-white btn-edit"
                                        data-id = "<%= flight[i]._id %>"
                                        data-airline_flight = "<%= flight[i].airlineName %>"
                                        data-dt_flight = "<%= flight[i].departureTime %>"
                                        data-at_flight = "<%= flight[i].arrivalTime %>"
                                        data-ic_flight = "<%= flight[i].icon %>"
                                        data-price_flight = "<%= flight[i].price %>"
                                        data-duration_flight = "<%= flight[i].duration %>"
                                        data-capacity_flight = "<%= flight[i].capacity %>"
                                        data-classFlight = "<%= flight[i].flightClass %>"
                                        data-number_flight = "<%= flight[i].flightNumber %>"
                                        data-typeFlight = "<%= flight[i].flightType %>"

                                        <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                            <% if (flight[i].airportId[a].category === 'departure') { %>
                                                data-departure_city = "<%= flight[i].airportId[a].city %>"
                                                data-departure_citycode = "<%= flight[i].airportId[a].code %>"
                                                data-departure_airport = "<%= flight[i].airportId[a].airport %>"
                                            <% } %>
                                        <% } %> 
                                        <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                            <% if (flight[i].airportId[a].category === 'arrival') { %>
                                                data-arrival_city = "<%= flight[i].airportId[a].city %>"
                                                data-arrival_citycode = "<%= flight[i].airportId[a].code %>"
                                                data-arrival_airport = "<%= flight[i].airportId[a].airport %>"
                                            <% } %>
                                        <% } %> 
                                        >
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info my-1 btn-detail"
                                        >
                                            <i class="fas fa-rocket"></i>
                                            Detail
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete"
                                        data-id = "<%= flight[i]._id %>"
                                        >
                                            <i class="fa fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr class="airport-detail" style="display: none;">
                                    <td colspan="9">
                                        <div class="row p-2">
                                            <img src="/images/<%= flight[i].icon %>" alt="garuda-indonesia">
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="city-code">
                                            <span>
                                                <p class="font-weight-bold">
                                                <i class="fas fa-plane mr-2"></i> 
                                                <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                                    <% if (flight[i].airportId[a].category === 'departure') { %>
                                                        <%= flight[i].airportId[a].city %> ( <%= flight[i].airportId[a].code %> )
                                                    <% } %>
                                                <% } %>   
                                                    <span class="mx-4"> - </span> 
                                                    <span class="font-weight-bold">
                                                    <i class="fas fa-plane mr-2"></i>
                                                <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                                    <% if (flight[i].airportId[a].category === 'arrival') { %>
                                                        <%= flight[i].airportId[a].city %> (<%= flight[i].airportId[a].code %> )
                                                    <% } %>
                                                <% } %>  
                                                    </span>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="airport">
                                            <span>
                                                <p class="font-weight-normal">
                                                    <i class="fas fa-building text-primary mr-2"></i>
                                                    <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                                        <% if (flight[i].airportId[a].category === 'departure') { %>
                                                            <%= flight[i].airportId[a].airport %>
                                                        <% } %>
                                                    <% } %>  
                                                    <span class="mx-4"> - </span> 
                                                    <span class="font-weight-normal">
                                                    <i class="fas fa-building text-primary mr-2"></i>
                                                        <% for (let a = 0; a < flight[i].airportId.length; a++) { %>
                                                            <% if (flight[i].airportId[a].category === 'arrival') { %>
                                                                <%= flight[i].airportId[a].airport %>
                                                            <% } %>
                                                        <% } %>  
                                                    </span>
                                                </p>
                                            </span>
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="airport-info">
                                            <div class="row">
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Flight Number : <span class="font-weight-bold"><%= flight[i].flightNumber %></span></p>
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Duration : <span class="font-weight-bold"> <%= flight[i].duration %></span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Type Class : <span class="font-weight-bold"><%= flight[i].flightClass %> </span></p>
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Flight Type : <span class="font-weight-bold"> <%= flight[i].flightType %> </span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Capacity : <span class="font-weight-bold"> <%= flight[i].capacity %> Passangers </span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal -->
     <div class="modal fade" id="createFlight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header ch text-white">
                    <h5 class="modal-title">Create Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="flightFormCreate" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="nameAirline" class="font-weight-bold"> Name Airline </label>
                                    <input type="text" class="form-control airlineName" name="airlineName" id="nameAirline"
                                        placeholder="add airline name" autocomplete="off">
                                    <div class="errorMessage text-danger"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="departureTime" class="font-weight-bold"> Departure Time </label>
                                    <input type="datetime-local" class="form-control departureTime" name="departureTime" id="departureTime"
                                        placeholder="add departure time" autocomplete="off">
                                    <div class="errorMessage text-danger"></div>
                                </div>  
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="arrivalTime" class="font-weight-bold"> Arrival Time </label>
                                    <input type="datetime-local" class="form-control arrivalTime" name="arrivalTime" id="arrivalTime"
                                        placeholder="add arrival time" autocomplete="off">
                                    <div class="errorMessage text-danger"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="price" class="font-weight-bold"> Price </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">IDR</span>
                                        </div>
                                        <input type="number" class="form-control price" name="price" id="price"
                                            placeholder="add price" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="iconCreateFlight" class="font-weight-bold"> Icon Airline </label>
                                            <input type="file" class="form-control icon icon-flight" name="icon" id="iconCreateFlight"
                                                placeholder="add icon" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                            <div class="errorFile text-danger"></div>
                                            <img src="" class="preview-image mt-1" id="viewImage" width="150vh" alt="preview">
                                        </div> 
                                        
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="duration" class="font-weight-bold"> Duration </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control duration" name="duration" id="duration"
                                                placeholder="" readonly>
                                                <!-- <div class="input-group-append">
                                                    <span class="input-group-text">Minutes</span>
                                                </div> -->
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="capacity" class="font-weight-bold"> Capacity </label>
                                            <input type="number" class="form-control capacity" name="capacity" id="capacity"
                                                placeholder="add capacity" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>              
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightNumber" class="font-weight-bold"> Flight Number </label>
                                            <input type="text" class="form-control flightNumber" name="flightNumber" id="flightNumber"
                                                placeholder="add flight number" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightClass" class="font-weight-bold"> Flight Class </label>
                                            <select name="flightClass" class="form-control flightClass" id="flightClass">
                                                <option value="">--Choose One--</option>
                                                <option value="Ekonomi"> Ekonomi</option>
                                                <option value="Bisnis"> Bisnis</option>
                                                <option value="Premium"> Premium</option>
                                            </select>
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightType" class="font-weight-bold"> Flight Type </label>
                                            <select name="flightType" class="form-control flightType" id="flightType">
                                                <option value="">--Choose One--</option>
                                                <option value="Langsung"> Langsung</option>
                                                <option value="Transit"> Transit</option>
                                            </select>
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5 class="font-weight-bold">Airport Station</h5>
                        <hr>
                        <div class="bg-light p-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="departureCity" class="font-weight-bold"> Departure City </label>
                                                <input type="text" class="form-control departure_city" name="departure_city" id="departureCity"
                                                    placeholder="add duration" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="arrivalCity" class="font-weight-bold"> Arrival City </label>
                                                <input type="text" class="form-control arrival_city" name="arrival_city" id="arrivalCity"
                                                    placeholder="add duration" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="departureCityCode" class="font-weight-bold"> Departure City Code </label>
                                                <input type="text" class="form-control departure_cityCode" name="departure_cityCode" id="departureCityCode"
                                                    placeholder="add city code" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="arrivalCityCode" class="font-weight-bold"> Arrival City Code </label>
                                                <input type="text" class="form-control arrival_cityCode" name="arrival_cityCode" id="arrivalCityCode"
                                                    placeholder="add city code" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureAirport" class="font-weight-bold"> Departure Airport </label>
                                        <input type="text" class="form-control departure_airport" name="departure_airport" id="departureAirport"
                                            placeholder="add airport" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalAirport" class="font-weight-bold"> Arrival Airport </label>
                                        <input type="text" class="form-control arrival_airport" name="arrival_airport" id="arrivalAirport"
                                            placeholder="add airport" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!-- Modal Edit -->
     <div class="modal fade" id="editFlight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header ch text-white">
                    <h5 class="modal-title">Edit Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="flightFormUpdate" action="/admin/update-flight?_method=put" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                        <input type="text" class="form-control id m-2" name="id" readonly>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="nameAirline" class="font-weight-bold"> Name Airline </label>
                                    <input type="text" class="form-control airlineName airline-name" name="airlineName" id="nameAirline"
                                        placeholder="add airline name" autocomplete="off" readonly>
                                    <div class="errorMessage text-danger"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="departureTime" class="font-weight-bold"> Departure Time </label>
                                    <input type="datetime-local" class="form-control departureTime departure-time" name="departureTime" id="departureTime"
                                        placeholder="add departure time" autocomplete="off">
                                    <div class="errorMessage text-danger"></div>
                                </div>  
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="arrivalTime" class="font-weight-bold"> Arrival Time </label>
                                    <input type="datetime-local" class="form-control arrivalTime arrival-time" name="arrivalTime" id="arrivalTime"
                                        placeholder="add arrival time" autocomplete="off">
                                    <div class="errorMessage text-danger"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="price" class="font-weight-bold"> Price </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">IDR</span>
                                        </div>
                                        <input type="number" class="form-control price price-flight" name="price" id="price"
                                            placeholder="add price" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="iconCreateFlight" class="font-weight-bold"> Icon Airline </label>
                                            <input type="file" class="form-control icon icon-flight d-none" name="icon" id="iconCreateFlight"
                                                placeholder="add icon" autocomplete="off" readonly>
                                            <div class="errorMessage text-danger"></div>
                                            <div class="errorFile text-danger"></div>
                                            <img src="" class="previewImg mt-1" id="viewImg" width="150vh" alt="preview">
                                        </div> 
                                        
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="duration" class="font-weight-bold"> Duration </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control duration duration-flight" name="duration" id="duration"
                                                placeholder="" readonly>
                                                <!-- <div class="input-group-append">
                                                    <span class="input-group-text">Minutes</span>
                                                </div> -->
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="capacity" class="font-weight-bold"> Capacity </label>
                                            <input type="number" class="form-control capacity capacity-flight" name="capacity" id="capacity"
                                                placeholder="add capacity" autocomplete="off" readonly>
                                            <div class="errorMessage text-danger"></div>
                                        </div>              
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightNumber" class="font-weight-bold"> Flight Number </label>
                                            <input type="text" class="form-control flightNumber flight-number" name="flightNumber" id="flightNumber"
                                                placeholder="add flight number" autocomplete="off" readonly>
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightClass" class="font-weight-bold"> Flight Class </label>
                                            <select name="flightClass" class="form-control flightClass flight-class" id="flightClass">
                                            </select>
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="flightType" class="font-weight-bold"> Flight Type </label>
                                            <select name="flightType" class="form-control flightType flight-type" id="flightType">
                                            </select>
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5 class="font-weight-bold">Airport Station</h5>
                        <hr>
                        <div class="bg-light p-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="departureCity" class="font-weight-bold"> Departure City </label>
                                                <input type="text" class="form-control departure_city start-city" name="departure_city" id="departureCity"
                                                    placeholder="add duration" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="arrivalCity" class="font-weight-bold"> Arrival City </label>
                                                <input type="text" class="form-control arrival_city end-city" name="arrival_city" id="arrivalCity"
                                                    placeholder="add duration" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="departureCityCode" class="font-weight-bold"> Departure City Code </label>
                                                <input type="text" class="form-control departure_cityCode start-citycode" name="departure_cityCode" id="departureCityCode"
                                                    placeholder="add city code" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="arrivalCityCode" class="font-weight-bold"> Arrival City Code </label>
                                                <input type="text" class="form-control arrival_cityCode end-citycode" name="arrival_cityCode" id="arrivalCityCode"
                                                    placeholder="add city code" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureAirport" class="font-weight-bold"> Departure Airport </label>
                                        <input type="text" class="form-control departure_airport start-airport" name="departure_airport" id="departureAirport"
                                            placeholder="add airport" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalAirport" class="font-weight-bold"> Arrival Airport </label>
                                        <input type="text" class="form-control arrival_airport end-airport" name="arrival_airport" id="arrivalAirport"
                                            placeholder="add airport" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!-- Modal Delete -->
    <div class="modal fade" id="deleteFlight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Confirm Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class="delete-flight">
                    <div class="modal-body">
                        <h5> Are you sure for delete this data ?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-circle"></i>
                            Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!-- Modal Detail -->
    <div class="modal fade" id="detailFlight" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header ch text-white">
                    <h5 class="modal-title">Detail Data Flight</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    <button type="buttuon" class="btn btn-danger">
                        <i class="fa fa-check-circle"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Hitung Durasi
        document.getElementById('departureTime').addEventListener('input', hitungDuration);
        document.getElementById('arrivalTime').addEventListener('input', hitungDuration);

        function hitungDuration() {
            const val_departureTime = document.getElementById('departureTime').value;
            const val_arrivalTime = document.getElementById('arrivalTime').value;

            if (val_departureTime && val_arrivalTime) {
                const departureTime = new Date(val_departureTime);
                const arrivalTime = new Date(val_arrivalTime);

                const val_duration = (arrivalTime - departureTime) / (1000 * 60);
                const jam = Math.floor(val_duration / 60);
                const menit = Math.floor(val_duration % 60);
                document.getElementById('duration').value = jam + ' jam ' + menit + ' menit ';
            }
        }
        // Modal Edit
        $('#dataTable').on('click', '.btn-edit', function(){
            $('#editFlight').modal('show');
            let id = $(this).data('id');
            let dt_airline = $(this).data('airline_flight');
            let dt_depapartureTime = $(this).data('dt_flight');
            let dt_arrivalTime = $(this).data('at_flight');
            let dt_price = $(this).data('price_flight');
            let dt_icon = $(this).data('ic_flight');
            let imgUrl = "/images/" + dt_icon;
            let dt_duration = $(this).data('duration_flight');
            let dt_capacity = $(this).data('capacity_flight');
            let dt_flightNumber = $(this).data('number_flight');
            let dt_flightClass = $(this).data('classFlight');
            let dt_flightType = $(this).data('typeFlight');
            // console.log(dt_flightNumber);
            $('.id').val(id);
            $('.airline-name').val(dt_airline);
            $('.departure-time').val(dt_depapartureTime);

            let dt_arrivalTimeValue = new Date(dt_arrivalTime);

            // Ambil komponen tanggal dan waktu
            let year = dt_arrivalTimeValue.getFullYear().toString().padStart(4, '0');
            let month = (dt_arrivalTimeValue.getMonth() + 1).toString().padStart(2, '0');
            let day = dt_arrivalTimeValue.getDate().toString().padStart(2, '0');
            let hours = dt_arrivalTimeValue.getHours().toString().padStart(2, '0');
            let minutes = dt_arrivalTimeValue.getMinutes().toString().padStart(2, '0');

            // Buat string yang sesuai dengan format datetime-local
            let datetimeLocalString = `${year}-${month}-${day}T${hours}:${minutes}`;

            $('.arrival-time').val(datetimeLocalString);
            $('.price-flight').val(dt_price);
            $('.previewImg').attr('src', imgUrl);
            $('.duration-flight').val(dt_duration);
            $('.capacity-flight').val(dt_capacity);
            $('.flight-number').val(dt_flightNumber);

            let optionFlightType = `<option>--Choose One--</option>`;
            if (dt_flightType) {
                optionFlightType += `<option value="Langsung" selected>Langsung</option>`;
                optionFlightType += `<option value="Transit">Transit</option>`;
            } else {
                optionFlightType += `<option value="Langsung">Langsung</option>`;
                optionFlightType += `<option value="Transit" selected>Transit</option>`;
            }

            $('.flight-type').html(optionFlightType);
            
            let optionFlightClass = `<option>--Choose One--</option>`;
            if (dt_flightClass) {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            } else if (dt_flightClass) {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            } else {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            }

            $('.flight-class').html(optionFlightClass);


            let dep_city = $(this).data('departure_city');
            let arv_city = $(this).data('arrival_city');
            let dep_citycode = $(this).data('departure_citycode');
            let arv_citycode = $(this).data('arrival_citycode');
            let dep_airport = $(this).data('departure_airport');
            let arv_airport = $(this).data('arrival_airport');

            $('.start-city').val(dep_city);
            $('.end-city').val(arv_city);
            $('.start-citycode').val(dep_citycode);
            $('.end-citycode').val(arv_citycode);
            $('.start-airport').val(dep_airport);
            $('.end-airport').val(arv_airport);
        });
        // Modal Delete
        $('#dataTable').on('click', '.btn-delete', function(){
            $('#deleteFlight').modal('show'); 
            let id = $(this).data('id');
            // console.log(id);
            let url = `/admin/delete-flight/${id}?_method=delete`;
            $('.delete-flight').attr('action', url);           
        });

        $('.btn-detail').click(function() {
            let row = $(this).closest('tr').next('.airport-detail');
            row.toggle();
        });
        // $('#dataTable').on('click', '.btn-detail', function(){
        //     $('#detailFlight').modal('show');            
        // });

        $(document).ready(function(){
            const timerAlert = $('.alert').text();
            if( timerAlert !== '') {
                setTimeout(function(){
                    $('.alert').fadeOut('slow')
                }, 3000);
            }
        });

        //display icon create
        $('#iconCreateFlight').change(function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                $('#viewImage').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
            $('.errorMessage').empty();
            $('.errorFile').empty();   
        });

        // jquery ajax untuk response validasi
        $('#flightFormCreate').submit(function(event) {
            event.preventDefault();
                let formData = new FormData(this);
                $.ajax({
                method: 'POST',
                url: '/admin/create-flight',
                async: true,
                data: formData,
                contentType: false,
                processData: false,
                    success: function(response) {
                        console.log(response);
                        if( response.errors && response.errors.length > 0) {
                            $('.errorMessage').empty();
                            response.errors.forEach(function(error){
                                $('.form-control.' + error.path).siblings('.errorMessage').text(error.msg);
                            });
                        } else {
                            $('#createFlight').modal('hide');
                            let alertMsg = response.alertMsg;
                            let alertStatus = response.alertStatus;

                            $('.flash-messages').html(
                                `<div class=" alert alert-` + alertStatus + `"role="alert">` +
                                (alertStatus === 'success' ? `<i class="fas fa-check-square mr-2"></i>` : ` <i class="fas fa-exlamation-triangle"></i>`)
                                + alertMsg + `</div>`
                            );

                            const timerAlert = $('.flash-messages').html();
                            if( timerAlert !== '') {
                                setTimeout(function(){
                                    $('.flash-messages').fadeOut('slow')
                                }, 3000);
                            }
                            location.reload();
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                        $('.errorFile').text('Bad, please check again your upload.');
                    }
                });
        });
        
    </script>
<%- include('../components/bottom.ejs')%>