<%- include('../components/head.ejs') %>
    <div class="container-fluid">
        <div class="row-cols-1 mb-4">
            <h1 class="h3 mb-0 text-gray-800">Flight Schedule</h1>
        </div>
        <div class="row-cols-1">
            <% if (alert.message != '') { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%- alert.status == 'success' ? `<i class="fas fa-check-square mr-2"></i>`: `<i class="fas fa-exclamation-triangle"></i>` %> 
                    <%= alert.message %>
                </div>
            <% } %>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3 ch">
                <div class="row d-flex">
                    <div class="col">
                        <h6 class="m-0 font-weight-normal text-white">List Flight Schedule</h6>
                    </div>
                    <div class="col-3">
                        <form action="/admin/search-flight-schedule" method="get">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control bg-lightSchedule" name="document" placeholder="search document" autocomplete="off" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-sm btn-info" id="searchFlightSchedule"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#createFlightSchedule">
                        <i class="fas fa-plus-circle fa-sm text-white"></i> Create Data
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Airline</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < flightSchedule.length; i++ ) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td>
                                        <%= flightSchedule[i].airlineId.name %>
                                    </td>
                                    <td><%= flightSchedule[i].departureTime %></td>
                                    <td><%= flightSchedule[i].arrivalTime %></td>
                                    <td><span">IDR </span><%= flightSchedule[i].price %></td>
                                    <td>
                                        <button type="button" class="btn btn-sm cbg text-white btn-edit"
                                        data-id = "<%= flightSchedule[i]._id %>"
                                        data-airline_flight = "<%= flightSchedule[i].airlineId.name %>"
                                        data-dt_flight = "<%= flightSchedule[i].departureTime %>"
                                        data-at_flight = "<%= flightSchedule[i].arrivalTime %>"
                                        data-ic_flight = "<%= flightSchedule[i].icon %>"
                                        data-price_flight = "<%= flightSchedule[i].price %>"
                                        data-duration_flight = "<%= flightSchedule[i].duration %>"
                                        data-capacity_flight = "<%= flightSchedule[i].capacity %>"
                                        data-class_flight = "<%= flightSchedule[i].flightClass %>"
                                        data-number_flight = "<%= flightSchedule[i].flightNumber %>"
                                        data-type_flight = "<%= flightSchedule[i].flightType %>"
                                        data-departure_airport_id="<%= flightSchedule[i].departureAirportId._id %>"
                                        data-departure_airport_city="<%= flightSchedule[i].departureAirportId.city %>"
                                        data-departure_airport_code="<%= flightSchedule[i].departureAirportId.code %>"
                                        data-arrival_airport_id="<%= flightSchedule[i].arrivalAirportId._id %>"
                                        data-arrival_airport_city="<%= flightSchedule[i].arrivalAirportId.city %>"
                                        data-arrival_airport_code="<%= flightSchedule[i].arrivalAirportId.code %>"
                                        >
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info my-1 btn-detail"
                                        >
                                            <i class="fas fa-rocket"></i>
                                            Detail
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger btn-delete"
                                        data-id = "<%= flightSchedule[i]._id %>"
                                        >
                                            <i class="fa fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr class="airport-detail" style="display: none;">
                                    <td colspan="9">
                                        <div class="row p-2">
                                            <img src="/images/<%= flightSchedule[i].icon %>" alt="icon-flight" width="150vh">
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="city-code">
                                            <span>
                                                <p class="font-weight-bold">
                                                    <i class="fas fa-plane mr-2"></i> 
                                                    <%= flightSchedule[i].departureAirportId.city %> (<%= flightSchedule[i].departureAirportId.code %>)
                                                    <span class="mx-4"> - </span> 
                                                    <span class="font-weight-bold">
                                                        <i class="fas fa-plane mr-2"></i>
                                                        <%= flightSchedule[i].arrivalAirportId.city %> (<%= flightSchedule[i].arrivalAirportId.code %>)
                                                    </span>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="airport">
                                            <span>
                                                <p class="font-weight-normal">
                                                    <i class="fas fa-building text-primary mr-2"></i>
                                                    <%= flightSchedule[i].departureAirportId.airport %> (<%= flightSchedule[i].departureAirportId.code %>)
                                                    <span class="mx-4"> - </span> 
                                                    <span class="font-weight-normal">
                                                    <i class="fas fa-building text-primary mr-2"></i>
                                                    <%= flightSchedule[i].arrivalAirportId.airport %> (<%= flightSchedule[i].arrivalAirportId.code %>)
                                                    </span>
                                                </p>
                                            </span>
                                        </div>
                                        <hr class="mt-0 mb-2">
                                        <div class="airport-info">
                                            <div class="row">
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Flight Number : <span class="font-weight-bold"><%= flightSchedule[i].flightNumber %></span></p>
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Duration : <span class="font-weight-bold"> <%= flightSchedule[i].duration %></span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Type Class : <span class="font-weight-bold"><%= flightSchedule[i].flightClass %> </span></p>
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Flight Type : <span class="font-weight-bold"> <%= flightSchedule[i].flightType %> </span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p class="font-weight-normal"><i class="fas fa-check-square text-success mr-2"></i> Capacity : <span class="font-weight-bold"> <%= flightSchedule[i].capacity %> Passangers </span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal -->
     <div class="modal fade" id="createFlightSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header ch text-white">
                    <h5 class="modal-title">Create Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="flightScheduleFormCreate" action="/admin/create-flight-schedule" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="p-3">
                            <h5 class="font-weight-bold text-success">Flight Schedule</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="nameAirline" class="font-weight-bold"> Name Airline </label>
                                        <select id="airlineId" class="form-control airlineName" name="airlineId">
                                            <option value="" disabled selected>Choose Airline</option>
                                            <% airlines.forEach(airline => { %>
                                                <option value="<%= airline._id %>"><%= airline.name %></option>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureTime" class="font-weight-bold"> Departure Time </label>
                                        <input type="datetime-local" class="form-control departureTime" name="departureTime" id="departureTime"
                                            placeholder="add departure time" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>  
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalTime" class="font-weight-bold"> Arrival Time </label>
                                        <input type="datetime-local" class="form-control arrivalTime" name="arrivalTime" id="arrivalTime"
                                            placeholder="add arrival time" autocomplete="off">
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="price" class="font-weight-bold"> Price </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">IDR</span>
                                            </div>
                                            <input type="number" class="form-control price" name="price" id="price"
                                                placeholder="add price" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="iconCreateFlight" class="font-weight-bold"> Icon Airline </label>
                                                <input type="file" class="form-control icon icon-flight" name="icon" id="iconCreateFlight"
                                                    placeholder="add icon" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                                <div class="errorFile text-danger"></div>
                                                <img src="" class="preview-image mt-1" id="viewImage" width="150vh" alt="preview">
                                            </div> 
                                            
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="duration" class="font-weight-bold"> Duration </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control duration" name="duration" id="duration"
                                                    placeholder="" readonly>
                                                    <!-- <div class="input-group-append">
                                                        <span class="input-group-text">Minutes</span>
                                                    </div> -->
                                                    <div class="errorMessage text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="capacity" class="font-weight-bold"> Capacity </label>
                                                <input type="number" class="form-control capacity" name="capacity" id="capacity"
                                                    placeholder="add capacity" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>              
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightNumber" class="font-weight-bold"> Flight Number </label>
                                                <input type="text" class="form-control flightNumber" name="flightNumber" id="flightNumber"
                                                    placeholder="add flight number" autocomplete="off">
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightClass" class="font-weight-bold"> Flight Class </label>
                                                <select name="flightClass" class="form-control flightClass" id="flightClass">
                                                    <option value="">--Choose One--</option>
                                                    <option value="Ekonomi"> Ekonomi</option>
                                                    <option value="Bisnis"> Bisnis</option>
                                                    <option value="Premium"> Premium</option>
                                                </select>
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightType" class="font-weight-bold"> Flight Type </label>
                                                <select name="flightType" class="form-control flightType" id="flightType">
                                                    <option value="">--Choose One--</option>
                                                    <option value="Langsung"> Langsung</option>
                                                    <option value="Transit"> Transit</option>
                                                </select>
                                                <div class="errorMessage text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-lightSchedule pt-0 pb-3 pl-3 pr-3">
                            <hr>
                            <h5 class="font-weight-bold text-success">Airport Station</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureAirport" class="font-weight-bold"> Departure Airport </label>
                                        <select id="departureAirport" class="form-control departureAirport" name="departureAirportId">
                                            <option value="" disabled selected>Choose Departure Airport</option>
                                            <% airports.forEach(airport => { %>
                                                <% if (airport.category === 'departure') { %>
                                                <option value="<%= airport._id %>"><%= airport.city %> (<%= airport.code %>)</option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalAirport" class="font-weight-bold"> Arrival Airport </label>
                                        <select id="arrivalAirport" class="form-control arrivalAirport" name="arrivalAirportId">
                                            <option value="" disabled selected>Choose Arrival Airport</option>
                                            <% airports.forEach(airport => { %>
                                                <% if (airport.category === 'arrival') { %>
                                                <option value="<%= airport._id %>"><%= airport.city %> (<%= airport.code %>)</option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!-- Modal Edit -->
     <div class="modal fade" id="editFlightSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header ch text-white">
                    <h5 class="modal-title">Edit Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="flightScheduleFormUpdate" action="/admin/update-flight-schedule?_method=put" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="p-3">
                            <h5 class="font-weight-bold text-success">Flight Schedule</h5>
                            <hr>
                            <div class="row">
                                <input type="hidden" class="form-control id mb-2" name="id" id="id" readonly>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="airlineId" class="font-weight-bold"> Name Airline </label>
                                        <select id="airlineId" class="form-control airlineName" name="airlineId">
                                            <option value="" disabled selected>Choose Airline</option>
                                            <% airlines.forEach(airline => { %>
                                                <option value="<%= airline._id %>"><%= airline.name %></option>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessageUpdate text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureTime" class="font-weight-bold"> Departure Time </label>
                                        <input type="datetime-local" class="form-control departureTime departure-time" name="departureTime" id="departureTime"
                                            placeholder="add departure time" autocomplete="off">
                                        <div class="errorMessageUpdate text-danger"></div>
                                    </div>  
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalTime" class="font-weight-bold"> Arrival Time </label>
                                        <input type="datetime-local" class="form-control arrivalTime arrival-time" name="arrivalTime" id="arrivalTime"
                                            placeholder="add arrival time" autocomplete="off">
                                        <div class="errorMessageUpdate text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="price" class="font-weight-bold"> Price </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">IDR</span>
                                            </div>
                                            <input type="number" class="form-control price price-flight" name="price" id="price"
                                                placeholder="add price" autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="iconUpdateFlight" class="font-weight-bold"> Icon Airline </label>
                                                <input type="file" class="form-control icon icon-flight d-none" name="icon" id="iconUpdateFlight"
                                                    placeholder="add icon" autocomplete="off" readonly>
                                                <div class="errorMessageUpdate text-danger"></div>
                                                <div class="errorFileUpdate text-danger"></div>
                                                <img src="" class="preview-img mt-1" id="viewImg" width="150vh" alt="preview">
                                            </div> 
                                            
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="duration" class="font-weight-bold"> Duration </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control duration duration-flight" name="duration" id="duration"
                                                    placeholder="" readonly>
                                                    <!-- <div class="input-group-append">
                                                        <span class="input-group-text">Minutes</span>
                                                    </div> -->
                                                    <div class="errorMessageUpdate text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="capacity" class="font-weight-bold"> Capacity </label>
                                                <input type="number" class="form-control capacity capacity-flight" name="capacity" id="capacity"
                                                    placeholder="add capacity" autocomplete="off">
                                                <div class="errorMessageUpdate text-danger"></div>
                                            </div>              
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightNumber" class="font-weight-bold"> Flight Number </label>
                                                <input type="text" class="form-control flightNumber flight-number" name="flightNumber" id="flightNumber"
                                                    placeholder="add flight number" autocomplete="off">
                                                <div class="errorMessageUpdate text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightClass" class="font-weight-bold"> Flight Class </label>
                                                <select name="flightClass" class="form-control flightClass flight-class" id="flightClass">
                                                    <option value="">--Choose One--</option>
                                                    <option value="Ekonomi"> Ekonomi</option>
                                                    <option value="Bisnis"> Bisnis</option>
                                                    <option value="Premium"> Premium</option>
                                                </select>
                                                <div class="errorMessageUpdate text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="flightType" class="font-weight-bold"> Flight Type </label>
                                                <select name="flightType" class="form-control flightType flight-type" id="flightType">
                                                    <option value="">--Choose One--</option>
                                                    <option value="Langsung"> Langsung</option>
                                                    <option value="Transit"> Transit</option>
                                                </select>
                                                <div class="errorMessageUpdate text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="bg-lightSchedule pt-0 pb-3 pl-3 pr-3">
                            <hr>
                            <h5 class="font-weight-bold text-success">Airport Station</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="departureAirport" class="font-weight-bold"> Departure Airport </label>
                                        <select id="departureAirport" class="form-control departureAirport departure-airport" name="departureAirportId">
                                            <option value="" disabled selected>Choose Departure Airport</option>
                                            <% airports.forEach(airport => { %>
                                                <% if (airport.category === 'departure') { %>
                                                <option value="<%= airport._id %>"><%= airport.city %> 
                                                    (<%= airport.code %>)</option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessageUpdate text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="arrivalAirport" class="font-weight-bold"> Arrival Airport </label>
                                        <select id="arrivalAirport" class="form-control arrivalAirport arrival-airport" name="arrivalAirportId">
                                            <option value="" disabled selected>Choose Arrival Airport</option>
                                            <% airports.forEach(airport => { %>
                                                <% if (airport.category === 'arrival') { %>
                                                <option value="<%= airport._id %>"><%= airport.city %> (<%= airport.code %>)</option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                        <div class="errorMessage text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <!-- Modal Delete -->
    <div class="modal fade" id="deleteFlightSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Confirm Data</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class="delete-flightSchedule">
                    <div class="modal-body">
                        <h5> Are you sure for delete this data ?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-circle"></i>
                            Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Hitung Durasi
        document.getElementById('departureTime').addEventListener('input', hitungDuration);
        document.getElementById('arrivalTime').addEventListener('input', hitungDuration);

        function hitungDuration() {
            const val_departureTime = document.getElementById('departureTime').value;
            const val_arrivalTime = document.getElementById('arrivalTime').value;

            if (val_departureTime && val_arrivalTime) {
                const departureTime = new Date(val_departureTime);
                const arrivalTime = new Date(val_arrivalTime);

                const val_duration = (arrivalTime - departureTime) / (1000 * 60);
                const jam = Math.floor(val_duration / 60);
                // const menit = Math.floor(val_duration % 60);
                document.getElementById('duration').value = jam + ' jam ';
            }
        }
        // Modal Edit
        $('#dataTable').on('click', '.btn-edit', function(){
            $('#editFlightSchedule').modal('show');
            let id = $(this).data('id');
            let dt_airline = $(this).data('airline_flight');
            let dt_depapartureTime = $(this).data('dt_flight');
            let dt_arrivalTime = $(this).data('at_flight');
            let dt_price = $(this).data('price_flight');
            let dt_icon = $(this).data('ic_flight');
            console.log(dt_airline);
            let imgUrl = "/images/" + dt_icon;
            let dt_duration = $(this).data('duration_flight');
            let dt_capacity = $(this).data('capacity_flight');
            let dt_flightNumber = $(this).data('number_flight');
            let dt_flightClass = $(this).data('class_flight');
            let dt_flightType = $(this).data('type_flight');
            $('.id').val(id);
            $('.airline-name').val(dt_airline);
            // $('.departure-time').val(dt_depapartureTime);

            let dt_arrivalTimeValue = new Date(dt_arrivalTime);

            // Ambil komponen tanggal dan waktu
            let year_a = dt_arrivalTimeValue.getFullYear().toString().padStart(4, '0');
            let month_a = (dt_arrivalTimeValue.getMonth() + 1).toString().padStart(2, '0');
            let day_a = dt_arrivalTimeValue.getDate().toString().padStart(2, '0');
            let hours_a = dt_arrivalTimeValue.getHours().toString().padStart(2, '0');
            let minutes_a = dt_arrivalTimeValue.getMinutes().toString().padStart(2, '0');

            // Buat string yang sesuai dengan format datetime-local
            let datetimeLocal_a = `${year_a}-${month_a}-${day_a}T${hours_a}:${minutes_a}`;

            let dt_departureTimeValue = new Date(dt_depapartureTime);

            // Ambil komponen tanggal dan waktu
            let year_d = dt_departureTimeValue.getFullYear().toString().padStart(4, '0');
            let month_d = (dt_departureTimeValue.getMonth() + 1).toString().padStart(2, '0');
            let day_d = dt_departureTimeValue.getDate().toString().padStart(2, '0');
            let hours_d = dt_departureTimeValue.getHours().toString().padStart(2, '0');
            let minutes_d = dt_departureTimeValue.getMinutes().toString().padStart(2, '0');

            // Buat string yang sesuai dengan format datetime-local
            let datetimeLocal_d = `${year_d}-${month_d}-${day_d}T${hours_d}:${minutes_d}`;

            $('.departure-time').val(datetimeLocal_d);
            $('.arrival-time').val(datetimeLocal_a);
            $('.price-flight').val(dt_price);
            $('.preview-img').attr('src', imgUrl);
            $('.duration-flight').val(dt_duration);
            $('.capacity-flight').val(dt_capacity);
            $('.flight-number').val(dt_flightNumber);

            let optionFlightType = `<option>--Choose One--</option>`;
            if (dt_flightType) {
                optionFlightType += `<option value="Langsung" selected>Langsung</option>`;
                optionFlightType += `<option value="Transit">Transit</option>`;
            } else {
                optionFlightType += `<option value="Langsung">Langsung</option>`;
                optionFlightType += `<option value="Transit" selected>Transit</option>`;
            }

            $('.flight-type').html(optionFlightType);
            
            let optionFlightClass = `<option>--Choose One--</option>`;
            if (dt_flightClass) {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            } else if (dt_flightClass) {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            } else {
                optionFlightClass += `<option value="Ekonomi" selected>Ekonomi</option>`;
                optionFlightClass += `<option value="Bisnis">Bisnis</option>`;
                optionFlightClass += `<option value="Premium">Premium</option>`;
            }

            $('.flight-class').html(optionFlightClass);


            let dep_city = $(this).data('departure_city');
            let arv_city = $(this).data('arrival_city');
            let dep_citycode = $(this).data('departure_citycode');
            let arv_citycode = $(this).data('arrival_citycode');
            let dep_airport = $(this).data('departure_airport');
            let arv_airport = $(this).data('arrival_airport');

            $('.start-city').val(dep_city);
            $('.end-city').val(arv_city);
            $('.start-citycode').val(dep_citycode);
            $('.end-citycode').val(arv_citycode);
            $('.start-airport').val(dep_airport);
            $('.end-airport').val(arv_airport);
        });
        // Modal Delete
        $('#dataTable').on('click', '.btn-delete', function(){
            $('#deleteFlightSchedule').modal('show'); 
            let id = $(this).data('id');
            // console.log(id);
            let url = `/admin/delete-flight-schedule/${id}?_method=delete`;
            $('.delete-flightSchedule').attr('action', url);           
        });

        $('.btn-detail').click(function() {
            let row = $(this).closest('tr').next('.airport-detail');
            row.toggle();
        });

        $(document).ready(function(){
            const timerAlert = $('.alert').text();
            if( timerAlert !== '') {
                setTimeout(function(){
                    $('.alert').fadeOut('slow')
                }, 3000);
            }
        });

        //display icon create
        $('#iconCreateFlight').change(function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                $('#viewImage').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
            $('.errorMessage').empty();
            $('.errorFile').empty();   
        });
        //display icon update
        $('#iconUpdateFlight').change(function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                $('#viewImg').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
            $('.errorMessageUpdate').empty();
            $('.errorFileUpdate').empty();   
        });
    </script>
<%- include('../components/bottom.ejs')%>